In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import os
os.chdir("/content/drive/My Drive/capstone")

In [ ]:
import pandas as pd
import numpy as np
from functools import reduce
from matplotlib import pyplot as plt
from sklearn.linear_model import LinearRegression, Ridge
import statsmodels.api as sm
from sklearn import preprocessing

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

## List of investors (225)

---

In [ ]:
list_investors = pd.read_csv('./full database/list_investors_225.csv')
list_investors = list_investors.LGCYINVESTORID.to_list()
len(list_investors)

225

## 7 features


---

### Turnover Rate

In [ ]:
df_turnover = pd.read_csv('./7 features/Turnover_7features.csv')

In [ ]:
df_turnover = df_turnover[df_turnover['LgcyInvestorId'].isin(list_investors)]
df_turnover.EffectFromDate = df_turnover.EffectFromDate.str.replace(r' 00:00:00', '')
df_turnover.EffectToDate = df_turnover.EffectToDate.str.replace(r' 00:00:00', '')
df_turnover = df_turnover.drop(columns=['EffectFromDate', 'OwnTurnoverRtng']).rename(columns={'LgcyInvestorId':'LGCYINVESTORID', 'EffectToDate':'HOLDDATE', 'OwnTurnover':'Turnover'})

In [ ]:
df_turnover

       LGCYINVESTORID    HOLDDATE  Turnover
5             2000264  2016-09-30   86.4520
19            2001934  2016-09-30   41.7810
20            2001935  2016-09-30   39.6030
42            2001989  2016-09-30   30.9116
44            2001999  2016-09-30   41.6900
...               ...         ...       ...
82393        10061989  2020-06-30   51.3729
82490        10075382  2020-06-30  276.0823
82630        10110259  2020-06-30  124.0346
82810        10233291  2020-06-30   54.2169
82892        10235680  2020-06-30  123.6878

[3499 rows x 3 columns]

In [ ]:
len(df_turnover['LGCYINVESTORID'].value_counts())

225

### Market Capitalization

In [ ]:
df_mktcap = pd.read_csv('./7 features/Mktcap_7features.csv')

In [ ]:
df_mktcap = df_mktcap[df_mktcap['LGCYINVESTORID'].isin(list_investors)]

In [ ]:
df_mktcap

      LGCYINVESTORID    HOLDDATE  ...  PctOfNanoCap  PctOfSmallCap
0           10061989  2016-06-30  ...      0.000000       0.043998
1           10061989  2016-09-30  ...      0.000000       0.045462
2           10061989  2016-12-31  ...      0.000000       0.049959
3           10061989  2017-03-31  ...      0.000000       0.056096
4           10061989  2017-06-30  ...      0.000000       0.051928
...              ...         ...  ...           ...            ...
3684         9969058  2019-06-30  ...      0.000015       0.024165
3685         9969058  2019-09-30  ...      0.003291       0.032543
3686         9969058  2019-12-31  ...      0.006895       0.034927
3687         9969058  2020-03-31  ...      0.052129       0.047237
3688         9969058  2020-06-30  ...      0.015352       0.050401

[3659 rows x 8 columns]

In [ ]:
len(df_mktcap['LGCYINVESTORID'].value_counts())

225

### Number of Instruments

In [ ]:
df_num_of_instr = pd.read_csv('./7 features/NumberOfInstr_7features.csv')

In [ ]:
df_num_of_instr = df_num_of_instr[df_num_of_instr['LGCYINVESTORID'].isin(list_investors)]
df_num_of_instr.HOLDDATE = df_num_of_instr.HOLDDATE.str.replace(r' 00:00:00', '')

In [ ]:
df_num_of_instr

       LGCYINVESTORID    HOLDDATE  NumberOfInstr
5             2000264  2016-06-30             35
19            2001934  2016-06-30           2554
20            2001935  2016-06-30           6427
42            2001989  2016-06-30            192
44            2001999  2016-06-30           2392
...               ...         ...            ...
81314        10061989  2020-06-30             74
81407        10075382  2020-06-30            156
81541        10110259  2020-06-30            128
81715        10233291  2020-06-30             99
81797        10235680  2020-06-30            250

[3659 rows x 3 columns]

In [ ]:
len(df_num_of_instr['LGCYINVESTORID'].value_counts())

225

### Top 20% Concentration

In [ ]:
df_concentration = pd.read_csv('./7 features/Concentration_7features.csv')

In [ ]:
df_concentration = df_concentration[df_concentration['LGCYINVESTORID'].isin(list_investors)]
df_concentration.HOLDDATE = df_concentration.HOLDDATE.str.replace(r' 00:00:00', '')

In [ ]:
df_concentration

      LGCYINVESTORID    HOLDDATE  TOP20%SHSHLDVALpct
0            2000264  2016-06-30            0.383612
1            2000264  2016-09-30            0.335504
2            2000264  2016-12-31            0.338615
3            2000264  2017-03-31            0.398285
4            2000264  2017-06-30            0.397128
...              ...         ...                 ...
3820        10235680  2019-06-30            0.000000
3821        10235680  2019-09-30            0.000000
3822        10235680  2019-12-31            0.761452
3823        10235680  2020-03-31            0.793639
3824        10235680  2020-06-30            0.789465

[3825 rows x 3 columns]

In [ ]:
len(df_concentration['LGCYINVESTORID'].value_counts())

225

### Total Assets

In [ ]:
df_total_assets = pd.read_csv('./7 features/TotalAssets_7features.csv')

In [ ]:
df_total_assets = df_total_assets[df_total_assets['LGCYINVESTORID'].isin(list_investors)].rename(columns={'SHSHLDVAL_Sum_ByQuarter':'TotalAssets'})

In [ ]:
df_total_assets

      LGCYINVESTORID    HOLDDATE   TotalAssets
0            2000264  2016-06-30  2.162065e+10
1            2000264  2016-09-30  2.235118e+10
2            2000264  2016-12-31  1.910789e+10
3            2000264  2017-03-31  1.900437e+10
4            2000264  2017-06-30  1.966478e+10
...              ...         ...           ...
3654        10233291  2020-03-31  1.647235e+08
3655        10233291  2020-06-30  2.387360e+08
3656        10235680  2019-12-31  2.088736e+08
3657        10235680  2020-03-31  1.508705e+08
3658        10235680  2020-06-30  1.931234e+08

[3659 rows x 3 columns]

In [ ]:
len(df_total_assets['LGCYINVESTORID'].value_counts())

225

### Investment Style of Employees

In [ ]:
df_inv_style = pd.read_csv('./7 features/InvStyle_7features.csv')

In [ ]:
df_inv_style = df_inv_style[df_inv_style['LgcyInvestorId'].isin(list_investors)].rename(columns={'LgcyInvestorId': 'LGCYINVESTORID'})

In [ ]:
df_inv_style

     LGCYINVESTORID  ...  InvStyle_Venture Capital
0           2000264  ...                   0.00000
1           2001934  ...                   0.00000
2           2001935  ...                   0.00000
3           2001989  ...                   0.00000
4           2001999  ...                   0.02589
..              ...  ...                       ...
220        10061989  ...                   0.00000
221        10075382  ...                   0.00000
222        10110259  ...                   0.00000
223        10233291  ...                   0.00000
224        10235680  ...                   0.00000

[225 rows x 19 columns]

In [ ]:
len(df_inv_style['LGCYINVESTORID'].value_counts())

225

### Industry - Not Used in Linear Regression

In [ ]:
df_industry = pd.read_csv('./7 features/Industry_7features.csv')

In [ ]:
df_industry = df_industry[df_industry['LGCYINVESTORID'].isin(list_investors)]

In [ ]:
df_industry

      LGCYINVESTORID    HOLDDATE      5010  ...      5910      6010  6310
0            2000264  2016-06-30  0.031676  ...  0.000000  0.038395   0.0
1            2000264  2016-09-30  0.046431  ...  0.000000  0.029005   0.0
2            2000264  2016-12-31  0.054856  ...  0.000000  0.035776   0.0
3            2000264  2017-03-31  0.044443  ...  0.000000  0.030157   0.0
4            2000264  2017-06-30  0.012847  ...  0.000000  0.027796   0.0
...              ...         ...       ...  ...       ...       ...   ...
3820        10235680  2019-06-30  0.000000  ...  0.000000  0.000000   0.0
3821        10235680  2019-09-30  0.000000  ...  0.000000  0.000000   0.0
3822        10235680  2019-12-31  0.007853  ...  0.000000  0.020661   0.0
3823        10235680  2020-03-31  0.019772  ...  0.002434  0.002196   0.0
3824        10235680  2020-06-30  0.022744  ...  0.002102  0.003332   0.0

[3825 rows x 32 columns]

In [ ]:
len(df_industry['LGCYINVESTORID'].value_counts())

225

## Find Significant Time Points and Corresponding Industries

---

In [ ]:
iqr_jt_ = pd.read_csv('./IQRjt_t_test.csv').drop(columns=['Unnamed: 0'])
weighted_iqr_jt_ = pd.read_csv('./weighted_IQRjt_t_test.csv').drop(columns=['Unnamed: 0'])

In [ ]:
iqr_jt_.loc[iqr_jt_.t_statistic > 1.645].iloc[:, :2]

     HierarchicalId_2    HOLDDATE
73                 55  2018-12-31
79                 55  2020-06-30
84                 59  2011-09-30
100                59  2015-09-30
102                59  2016-03-31
118                59  2020-03-31
198                51  2020-03-31
257                50  2014-12-31
278                50  2020-03-31
300                57  2015-09-30
340                52  2015-09-30
377                60  2014-12-31
398                60  2020-03-31
438                53  2020-03-31

In [ ]:
tp_indus = iqr_jt_.loc[iqr_jt_.t_statistic > 1.645].iloc[:, :2]
tp_indus_4y = tp_indus.loc[tp_indus.HOLDDATE > '2016-09-30']
tp_indus_4y

     HierarchicalId_2    HOLDDATE
73                 55  2018-12-31
79                 55  2020-06-30
118                59  2020-03-31
198                51  2020-03-31
278                50  2020-03-31
398                60  2020-03-31
438                53  2020-03-31

In [ ]:
w_tp_indus = weighted_iqr_jt_.loc[weighted_iqr_jt_.t_statistic > 1.645].iloc[:, :2]
w_tp_indus_4y = w_tp_indus.loc[w_tp_indus.HOLDDATE > '2016-09-30']
w_tp_indus_4y

     HierarchicalId_2    HOLDDATE
73                 55  2018-12-31
116                59  2019-09-30
118                59  2020-03-31
190                51  2018-03-31
273                50  2018-12-31
278                50  2020-03-31
347                52  2017-06-30
352                52  2018-09-30
398                60  2020-03-31

## Get X for all significant time points

---

In [ ]:
all_time_points = set(tp_indus_4y.HOLDDATE.to_list())
all_time_points

{'2018-12-31', '2020-03-31', '2020-06-30'}

In [ ]:
weighted_all_time_points = set(w_tp_indus_4y.HOLDDATE.to_list())
weighted_all_time_points

{'2017-06-30',
 '2018-03-31',
 '2018-09-30',
 '2018-12-31',
 '2019-09-30',
 '2020-03-31'}

In [ ]:
def get_time_series_features_for_all_tps(dfs):
  new_dfs = []
  for df in dfs:
    new_df = df.loc[(df.HOLDDATE == '2018-12-31') | (df.HOLDDATE == '2020-03-31') | (df.HOLDDATE == '2020-06-30')]
    new_dfs.append(new_df)
  return new_dfs

In [ ]:
# get all the five features on the given time point
dfs = [df_turnover, df_mktcap, df_num_of_instr, df_concentration, df_total_assets, df_inv_style]
df_turnover_ts, df_mktcap_ts, df_num_of_instr_ts, df_concentration_ts, df_total_assets_ts = get_time_series_features_for_all_tps(dfs[:-1])

In [ ]:
max_scaler = lambda x : x / np.max(x)

In [ ]:
# Normalize turnover rate
df_turnover_ts.iloc[:, -1] = np.log(df_turnover_ts.iloc[:, -1] + 1)
y = df_turnover_ts[['Turnover']].apply(max_scaler)
df_turnover_ts = df_turnover_ts.drop(columns='Turnover')
df_turnover_ts['Turnover_Max'] = y
df_turnover_ts

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1743: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)

       LGCYINVESTORID    HOLDDATE  Turnover_Max
44413         2000264  2018-12-31      0.727587
44427         2001934  2018-12-31      0.659777
44428         2001935  2018-12-31      0.591504
44449         2001989  2018-12-31      0.537706
44451         2001999  2018-12-31      0.601944
...               ...         ...           ...
82393        10061989  2020-06-30      0.663013
82490        10075382  2020-06-30      0.942048
82630        10110259  2020-06-30      0.808768
82810        10233291  2020-06-30      0.671870
82892        10235680  2020-06-30      0.808302

[668 rows x 3 columns]

In [ ]:
# Normalize number of instruments
df_num_of_instr_ts.iloc[:, -1] = np.log(df_num_of_instr_ts.iloc[:, -1])
y = df_num_of_instr_ts[['NumberOfInstr']].apply(max_scaler)
df_num_of_instr_ts = df_num_of_instr_ts.drop(columns='NumberOfInstr')
df_num_of_instr_ts['NumberOfInstr_Max'] = y
df_num_of_instr_ts

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1743: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)

       LGCYINVESTORID    HOLDDATE  NumberOfInstr_Max
45444         2000264  2018-12-31           0.363835
45457         2001934  2018-12-31           0.886781
45458         2001935  2018-12-31           0.999919
45480         2001989  2018-12-31           0.571516
45482         2001999  2018-12-31           0.888057
...               ...         ...                ...
81314        10061989  2020-06-30           0.486496
81407        10075382  2020-06-30           0.570794
81541        10110259  2020-06-30           0.548433
81715        10233291  2020-06-30           0.519394
81797        10235680  2020-06-30           0.624100

[658 rows x 3 columns]

In [ ]:
# Normalize total assets
df_total_assets_ts.iloc[:, -1] = np.log(df_total_assets_ts.iloc[:, -1])
y = df_total_assets_ts[['TotalAssets']].apply(max_scaler)
df_total_assets_ts = df_total_assets_ts.drop(columns='TotalAssets')
df_total_assets_ts['TotalAssets_Max'] = y
df_total_assets_ts

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1743: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)

      LGCYINVESTORID    HOLDDATE  TotalAssets_Max
10           2000264  2018-12-31         0.816883
15           2000264  2020-03-31         0.820410
16           2000264  2020-06-30         0.826510
27           2001934  2018-12-31         0.852075
32           2001934  2020-03-31         0.849064
...              ...         ...              ...
3652        10110259  2020-06-30         0.676965
3654        10233291  2020-03-31         0.660025
3655        10233291  2020-06-30         0.672970
3657        10235680  2020-03-31         0.656960
3658        10235680  2020-06-30         0.665574

[658 rows x 3 columns]

In [ ]:
# 'dfs_ts' includes 5 time series features on all time points (not including 'inv style').
dfs_ts = [df_turnover_ts, df_mktcap_ts, df_num_of_instr_ts, df_concentration_ts, df_total_assets_ts]

# 'df_x_ts' is the merged data frame of all the 5 time series features
df_x_ts = reduce(lambda df_left, df_right: pd.merge(df_left, df_right, 
                                                    on=['LGCYINVESTORID', 'HOLDDATE'], 
                                                    how='outer').fillna(0), 
                 dfs_ts)

In [ ]:
# Drop some of the time series features that have correlations inbetween
df_x_ts = df_x_ts.drop(columns=['PctOfSmallCap', 'PctOfNanoCap'])

# Combine time series features with the static feature 'inv style'
# Also drop some small features with all zeros or have strong correlations inbetween
df_x_ts_merged = df_x_ts.merge(df_inv_style, on='LGCYINVESTORID', how='outer').fillna(0).drop(columns=['InvStyle_Technicals', 'InvStyle_Growth','InvStyle_Aggres. Gr.'])
df_x_ts_merged

     LGCYINVESTORID    HOLDDATE  ...  InvStyle_Value  InvStyle_Venture Capital
0           2000264  2018-12-31  ...        0.000000                       0.0
1           2000264  2020-03-31  ...        0.000000                       0.0
2           2000264  2020-06-30  ...        0.000000                       0.0
3           2001934  2018-12-31  ...        0.107784                       0.0
4           2001934  2020-03-31  ...        0.107784                       0.0
..              ...         ...  ...             ...                       ...
670        10233291  2020-06-30  ...        0.000000                       0.0
671        10233291  2018-12-31  ...        0.000000                       0.0
672        10235680  2020-03-31  ...        0.000000                       0.0
673        10235680  2020-06-30  ...        0.000000                       0.0
674        10235680  2018-12-31  ...        0.000000                       0.0

[675 rows x 25 columns]

## Computing y in one significant industry on one specific time point

For each investor $i$ on time point $t$, when we are considering about one specific industry $D$, the dependent variable $y_{i}$ follows the equation:
\begin{align*}
\Delta_{it} &= \frac{1}{n}\sum_{j \in \text D} \Delta_{ijt}\\
y_i &= |\Delta_{it} - \bar{\Delta_{t}}|
\end{align*}

$n$ = # of instruments that investor $i$ invested in industry $D$

In [ ]:
df_delta_weighted = pd.read_csv('./data for trend/225 investors/delta_with_weight.csv').drop(columns=['Unnamed: 0'])
df_delta_weighted

         LGCYINVESTORID  ...                                  Instru_Name
0               2000264  ...  Liberty Media Liberty Starz Ord Shs Class A
1               2000264  ...  Liberty Media Liberty Starz Ord Shs Class A
2               2000264  ...  Liberty Media Liberty Starz Ord Shs Class A
3               2000264  ...  Liberty Media Liberty Starz Ord Shs Class A
4               2000264  ...  Liberty Media Liberty Starz Ord Shs Class A
...                 ...  ...                                          ...
8689432        10235680  ...           Genco Shipping and Trading Ord Shs
8689433        10235680  ...           Genco Shipping and Trading Ord Shs
8689434        10235680  ...                   Velocity Financial Ord Shs
8689435        10235680  ...                    Leap Therapeutics Ord Shs
8689436        10235680  ...                    Leap Therapeutics Ord Shs

[8689437 rows x 7 columns]

In [ ]:
df_instr_indus = pd.read_csv('./full database/instrument_industry_match_title.csv')
df_instr_indus

          INSTRID  ...                    Title_2digits
0      8589934707  ...                      Industrials
1      8589940347  ...                      Industrials
2      8589943843  ...                      Industrials
3      8589944487  ...                      Industrials
4      8589945260  ...                      Industrials
...           ...  ...                              ...
8542  21696522914  ...  Academic & Educational Services
8543  21703407859  ...  Academic & Educational Services
8544  21706471016  ...  Academic & Educational Services
8545  21722918925  ...  Academic & Educational Services
8546  25727394053  ...  Academic & Educational Services

[8547 rows x 5 columns]

In [ ]:
df_delta_weighted_with_industry = pd.merge(df_delta_weighted, df_instr_indus, on='INSTRID', how='inner')
df_delta_weighted_with_industry

         LGCYINVESTORID  ...       Title_2digits
0               2000264  ...  Consumer Cyclicals
1               2000264  ...  Consumer Cyclicals
2               2000264  ...  Consumer Cyclicals
3               2000264  ...  Consumer Cyclicals
4               2001934  ...  Consumer Cyclicals
...                 ...  ...                 ...
7576513        10110259  ...  Consumer Cyclicals
7576514        10110259  ...           Utilities
7576515        10110259  ...           Utilities
7576516        10110259  ...         Industrials
7576517        10110259  ...         Industrials

[7576518 rows x 11 columns]

In [ ]:
# Specify time point and industry
df_delta_181231_55 = df_delta_weighted_with_industry[(df_delta_weighted_with_industry['HOLDDATE'] == '2018-12-31') & (df_delta_weighted_with_industry['HierarchicalId_2'] == 55)]
df_delta_200630_55 = df_delta_weighted_with_industry[(df_delta_weighted_with_industry['HOLDDATE'] == '2020-06-30') & (df_delta_weighted_with_industry['HierarchicalId_2'] == 55)]
df_delta_200331_59 = df_delta_weighted_with_industry[(df_delta_weighted_with_industry['HOLDDATE'] == '2020-03-31') & (df_delta_weighted_with_industry['HierarchicalId_2'] == 59)]
df_delta_200331_51 = df_delta_weighted_with_industry[(df_delta_weighted_with_industry['HOLDDATE'] == '2020-03-31') & (df_delta_weighted_with_industry['HierarchicalId_2'] == 51)]
df_delta_200331_50 = df_delta_weighted_with_industry[(df_delta_weighted_with_industry['HOLDDATE'] == '2020-03-31') & (df_delta_weighted_with_industry['HierarchicalId_2'] == 50)]
df_delta_200331_60 = df_delta_weighted_with_industry[(df_delta_weighted_with_industry['HOLDDATE'] == '2020-03-31') & (df_delta_weighted_with_industry['HierarchicalId_2'] == 60)]
df_delta_200331_53 = df_delta_weighted_with_industry[(df_delta_weighted_with_industry['HOLDDATE'] == '2020-03-31') & (df_delta_weighted_with_industry['HierarchicalId_2'] == 53)]

In [ ]:
df_delta_all_tps = pd.concat([df_delta_181231_55, df_delta_200630_55, df_delta_200331_59, df_delta_200331_51, df_delta_200331_50, df_delta_200331_60, df_delta_200331_53], axis=0)
df_delta_all_tps = df_delta_all_tps.drop(columns=['HierarchicalId_x', 'Title_4digits'])
df_delta_all_tps

         LGCYINVESTORID      INSTRID  ... HierarchicalId_2       Title_2digits
2991            2001934   8589978442  ...               55          Financials
3032            2001935   8589978442  ...               55          Financials
3091            2002195   8589978442  ...               55          Financials
3121            2002389   8589978442  ...               55          Financials
3165            2002451   8589978442  ...               55          Financials
...                 ...          ...  ...              ...                 ...
7576150         4059340  21586167680  ...               53  Consumer Cyclicals
7576155         4059340  21586344369  ...               53  Consumer Cyclicals
7576211         4059340  25727391604  ...               53  Consumer Cyclicals
7576311         5275446   8590929309  ...               53  Consumer Cyclicals
7576513        10110259   8590936612  ...               53  Consumer Cyclicals

[154684 rows x 9 columns]

In [ ]:
df_y_agg_by_inv = pd.pivot_table(df_delta_all_tps, index=['LGCYINVESTORID', 'HOLDDATE', 'HierarchicalId_2'], values='Delta', aggfunc=np.mean).reset_index()
df_y_agg_by_inv

      LGCYINVESTORID    HOLDDATE  HierarchicalId_2     Delta
0            2000264  2020-03-31                53  0.004654
1            2000264  2020-06-30                55  0.019140
2            2001934  2018-12-31                55 -0.000009
3            2001934  2020-03-31                50 -0.000086
4            2001934  2020-03-31                51 -0.000017
...              ...         ...               ...       ...
1364        10235680  2020-03-31                51  0.000706
1365        10235680  2020-03-31                53 -0.005863
1366        10235680  2020-03-31                59  0.000609
1367        10235680  2020-03-31                60 -0.006155
1368        10235680  2020-06-30                55 -0.000138

[1369 rows x 4 columns]

In [ ]:
df_y_tp_agg_by_indus = pd.pivot_table(df_y_agg_by_inv, index=['HOLDDATE', 'HierarchicalId_2'], values='Delta', aggfunc=np.mean).reset_index()
df_y_tp_agg_by_indus = df_y_tp_agg_by_indus.rename(columns={'Delta': 'Mean_Delta'})

In [ ]:
df_y = pd.merge(df_y_agg_by_inv, df_y_tp_agg_by_indus, on=['HOLDDATE', 'HierarchicalId_2'], how='inner')
df_y

      LGCYINVESTORID    HOLDDATE  HierarchicalId_2     Delta  Mean_Delta
0            2000264  2020-03-31                53  0.004654    0.000397
1            2001934  2020-03-31                53 -0.000035    0.000397
2            2001935  2020-03-31                53 -0.000006    0.000397
3            2001989  2020-03-31                53 -0.000619    0.000397
4            2001999  2020-03-31                53 -0.000016    0.000397
...              ...         ...               ...       ...         ...
1364        10061989  2020-03-31                60 -0.000052   -0.001078
1365        10075382  2020-03-31                60 -0.000364   -0.001078
1366        10110259  2020-03-31                60  0.000480   -0.001078
1367        10233291  2020-03-31                60  0.001533   -0.001078
1368        10235680  2020-03-31                60 -0.006155   -0.001078

[1369 rows x 5 columns]

In [ ]:
df_y['y'] = abs(df_y.Delta - df_y.Mean_Delta)
df_y = df_y.drop(columns=['Delta', 'Mean_Delta'])
df_y

      LGCYINVESTORID    HOLDDATE  HierarchicalId_2         y
0            2000264  2020-03-31                53  0.004257
1            2001934  2020-03-31                53  0.000432
2            2001935  2020-03-31                53  0.000403
3            2001989  2020-03-31                53  0.001016
4            2001999  2020-03-31                53  0.000413
...              ...         ...               ...       ...
1364        10061989  2020-03-31                60  0.001025
1365        10075382  2020-03-31                60  0.000714
1366        10110259  2020-03-31                60  0.001557
1367        10233291  2020-03-31                60  0.002611
1368        10235680  2020-03-31                60  0.005077

[1369 rows x 4 columns]

## Regression Analysis using 6 features

In [ ]:
df_lr = pd.merge(df_x_ts_merged, df_y, on=['LGCYINVESTORID', 'HOLDDATE'], how='inner')
dummies = pd.get_dummies(df_lr.loc[:, 'HierarchicalId_2'], prefix='HierarchicalId' ) 
df_lr = pd.concat([df_lr, dummies], axis = 1).drop(columns='HierarchicalId_2')
df_lr

      LGCYINVESTORID    HOLDDATE  ...  HierarchicalId_59  HierarchicalId_60
0            2000264  2020-03-31  ...                  0                  0
1            2000264  2020-06-30  ...                  0                  0
2            2001934  2018-12-31  ...                  0                  0
3            2001934  2020-03-31  ...                  0                  0
4            2001934  2020-03-31  ...                  0                  0
...              ...         ...  ...                ...                ...
1364        10235680  2020-03-31  ...                  0                  0
1365        10235680  2020-03-31  ...                  0                  0
1366        10235680  2020-03-31  ...                  1                  0
1367        10235680  2020-03-31  ...                  0                  1
1368        10235680  2020-06-30  ...                  0                  0

[1369 rows x 32 columns]

In [ ]:
cols = ['LGCYINVESTORID', 'HOLDDATE', 'Turnover_Max', 'PctOfLargeCap',
       'PctOfMegaCap', 'PctOfMicroCap', 'PctOfMidCap',
       'NumberOfInstr_Max', 'TOP20%SHSHLDVALpct', 'TotalAssets_Max',
       'InvStyle_Arbitrage', 'InvStyle_Convertible Arbitrage',
       'InvStyle_Emerging Markets', 'InvStyle_GARP', 'InvStyle_Income',
       'InvStyle_Index', 'InvStyle_Private Equity',
       'InvStyle_Quantitative', 'InvStyle_Sector Rotational',
       'InvStyle_Shareholder Activist', 'InvStyle_Short Selling',
       'InvStyle_Social Awareness', 'InvStyle_Special Situations',
       'InvStyle_Value', 'InvStyle_Venture Capital',
       'HierarchicalId_50', 'HierarchicalId_51', 'HierarchicalId_53',
       'HierarchicalId_55', 'HierarchicalId_59', 'HierarchicalId_60', 'y']
df_lr = df_lr[cols]
df_lr = df_lr.drop(columns=['HierarchicalId_60'])

In [ ]:
df_lr.to_csv('regression_data.csv', index=False)

In [ ]:
X = df_lr.iloc[:, 2:-1]
y = df_lr.iloc[:, -1]

In [ ]:
X

      Turnover_Max  PctOfLargeCap  ...  HierarchicalId_55  HierarchicalId_59
0         0.760030       0.448097  ...                  0                  0
1         0.787742       0.503845  ...                  1                  0
2         0.659777       0.539247  ...                  1                  0
3         0.651895       0.557763  ...                  0                  0
4         0.651895       0.557763  ...                  0                  0
...            ...            ...  ...                ...                ...
1364      0.899690       0.343126  ...                  0                  0
1365      0.899690       0.343126  ...                  0                  0
1366      0.899690       0.343126  ...                  0                  1
1367      0.899690       0.343126  ...                  0                  0
1368      0.808302       0.304795  ...                  1                  0

[1369 rows x 28 columns]

In [ ]:
X.to_csv('regression_x.csv', index=False)

In [ ]:
y.to_csv('regression_y.csv', index=False)

In [ ]:
X = sm.add_constant(X) # adding a constant

model = sm.OLS(y, X).fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.119
Model:                            OLS   Adj. R-squared:                  0.101
Method:                 Least Squares   F-statistic:                     6.477
Date:                Wed, 16 Dec 2020   Prob (F-statistic):           1.33e-22
Time:                        15:23:46   Log-Likelihood:                 3290.2
No. Observations:                1369   AIC:                            -6522.
Df Residuals:                    1340   BIC:                            -6371.
Df Model:                          28
Covariance Type:            nonrobust
==================================================================================================
                                     coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------
const                              0.0008      0.007      0.115      0.908      -0.012       0.014
Turnover_Max                       0.0036      0.005      0.686      0.493      -0.007       0.014
PctOfLargeCap                      0.0031      0.006      0.526      0.599      -0.008       0.015
PctOfMegaCap                       0.0079      0.007      1.103      0.270      -0.006       0.022
PctOfMicroCap                      0.0081      0.013      0.622      0.534      -0.017       0.034
PctOfMidCap                        0.0209      0.007      2.882      0.004       0.007       0.035
NumberOfInstr_Max                 -0.0397      0.006     -7.061      0.000      -0.051      -0.029
TOP20%SHSHLDVALpct                 0.0137      0.006      2.446      0.015       0.003       0.025
TotalAssets_Max                    0.0086      0.010      0.853      0.394      -0.011       0.028
InvStyle_Arbitrage                -0.0038      0.006     -0.666      0.505      -0.015       0.007
InvStyle_Convertible Arbitrage    -0.0003      0.007     -0.045      0.964      -0.015       0.014
InvStyle_Emerging Markets          0.0059      0.003      1.927      0.054      -0.000       0.012
InvStyle_GARP                      0.0100      0.006      1.597      0.110      -0.002       0.022
InvStyle_Income                    0.0049      0.005      0.951      0.342      -0.005       0.015
InvStyle_Index                    -0.0205      0.007     -2.979      0.003      -0.034      -0.007
InvStyle_Private Equity           -0.0674      0.048     -1.391      0.164      -0.163       0.028
InvStyle_Quantitative              0.0394      0.084      0.469      0.639      -0.125       0.204
InvStyle_Sector Rotational         0.0177      0.030      0.586      0.558      -0.042       0.077
InvStyle_Shareholder Activist      0.0015      0.011      0.127      0.899      -0.021       0.024
InvStyle_Short Selling             0.0074      0.009      0.803      0.422      -0.011       0.026
InvStyle_Social Awareness         -0.0230      0.014     -1.612      0.107      -0.051       0.005
InvStyle_Special Situations       -0.0070      0.016     -0.450      0.653      -0.038       0.024
InvStyle_Value                     0.0051      0.008      0.627      0.531      -0.011       0.021
InvStyle_Venture Capital           0.0187      0.034      0.559      0.576      -0.047       0.084
HierarchicalId_50                  0.0049      0.002      2.142      0.032       0.000       0.009
HierarchicalId_51                 -0.0012      0.002     -0.523      0.601      -0.006       0.003
HierarchicalId_53                 -0.0003      0.002     -0.117      0.907      -0.005       0.004
HierarchicalId_55                  0.0033      0.002      1.657      0.098      -0.001       0.007
HierarchicalId_59                  0.0036      0.002      1.550      0.121      -0.001       0.008
==============================================================================
Omnibus:                     2827.825   Durbin-Watson:                   1.590
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          8378725.792
Skew:                          16.543   Prob(JB):                         0.00
Kurtosis:                     384.829   Cond. No.                         269.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [ ]:
y_pred = model.predict(X)
y_pred

0       0.012036
1       0.014427
2      -0.000259
3      -0.003983
4       0.001149
          ...
1364    0.007483
1365    0.001410
1366    0.006255
1367    0.002613
1368    0.005431
Length: 1369, dtype: float64

In [ ]:
df_pred = pd.DataFrame()
df_pred['investor_id'] = df_lr.LGCYINVESTORID
df_pred['y_pred'] = y_pred
df_pred

      investor_id    y_pred
0         2000264  0.012036
1         2000264  0.014427
2         2001934 -0.000259
3         2001934 -0.003983
4         2001934  0.001149
...           ...       ...
1364     10235680  0.007483
1365     10235680  0.001410
1366     10235680  0.006255
1367     10235680  0.002613
1368     10235680  0.005431

[1369 rows x 2 columns]

In [ ]:
df_pred.sort_values(by='y_pred', ascending=False).iloc[:20,:]

      investor_id    y_pred
1121      3015075  0.041249
1122      3015075  0.040021
757       2006430  0.039633
1203      5308615  0.036471
1120      3015075  0.036117
596       2004318  0.032928
1211      5436717  0.032414
1204      5308615  0.031642
1340      4962258  0.030981
1124      3318171  0.029637
1106      2930530  0.029308
756       2006430  0.029140
1112      2931843  0.028999
905       2420555  0.028804
964       2490230  0.028559
620       2004523  0.027715
907       2420555  0.027576
692       2005801  0.027443
966       2490230  0.027331
1058      2620417  0.027073

## Regression Analysis using Cluster Results

In [ ]:
df_cluster = pd.read_csv('./result_with_features.csv')

In [ ]:
df_cluster_result = df_cluster[['Unnamed: 0', 'kmeans_2']]
df_cluster_result.columns = ['LGCYINVESTORID', 'Cluster']
df_cluster_result

     LGCYINVESTORID  Cluster
0           2000264        0
1           2001934        0
2           2001935        0
3           2001989        1
4           2001999        0
..              ...      ...
220        10061989        0
221        10075382        1
222        10110259        1
223        10233291        1
224        10235680        1

[225 rows x 2 columns]

In [ ]:
df_lr_cluster = pd.merge(df_cluster_result, df_y, on=['LGCYINVESTORID'], how='inner')
dummies = pd.get_dummies(df_lr_cluster.loc[:, 'HierarchicalId_2'], prefix='HierarchicalId' ) 
df_lr_cluster = pd.concat([df_lr_cluster, dummies], axis = 1).drop(columns='HierarchicalId_2')
df_lr_cluster

      LGCYINVESTORID  Cluster  ... HierarchicalId_59  HierarchicalId_60
0            2000264        0  ...                 0                  0
1            2000264        0  ...                 0                  0
2            2001934        0  ...                 0                  0
3            2001934        0  ...                 0                  0
4            2001934        0  ...                 0                  0
...              ...      ...  ...               ...                ...
1364        10235680        1  ...                 0                  0
1365        10235680        1  ...                 0                  0
1366        10235680        1  ...                 0                  0
1367        10235680        1  ...                 1                  0
1368        10235680        1  ...                 0                  1

[1369 rows x 10 columns]

In [ ]:
cols = ['LGCYINVESTORID', 'HOLDDATE', 'Cluster', 'HierarchicalId_50',
       'HierarchicalId_51', 'HierarchicalId_53', 'HierarchicalId_55',
       'HierarchicalId_59', 'HierarchicalId_60', 'y']

df_lr_cluster = df_lr_cluster[cols]
df_lr_cluster = df_lr_cluster.drop(columns=['HierarchicalId_60'])

In [ ]:
X = df_lr_cluster.iloc[:, 2:-1]
y = df_lr_cluster.iloc[:, -1]

X = sm.add_constant(X) # adding a constant
model_cluster = sm.OLS(y, X).fit()
model_cluster.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.045
Model:                            OLS   Adj. R-squared:                  0.041
Method:                 Least Squares   F-statistic:                     10.80
Date:                Wed, 02 Dec 2020   Prob (F-statistic):           9.09e-12
Time:                        23:52:04   Log-Likelihood:                 3235.1
No. Observations:                1369   AIC:                            -6456.
Df Residuals:                    1362   BIC:                            -6420.
Df Model:                           6
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
const                 0.0013      0.002      0.731      0.465      -0.002       0.005
Cluster               0.0108      0.002      7.085      0.000       0.008       0.014
HierarchicalId_50     0.0055      0.002      2.344      0.019       0.001       0.010
HierarchicalId_51    -0.0011      0.002     -0.445      0.657      -0.006       0.004
HierarchicalId_53     0.0011      0.002      0.458      0.647      -0.003       0.006
HierarchicalId_55     0.0041      0.002      2.050      0.041       0.000       0.008
HierarchicalId_59     0.0032      0.002      1.318      0.188      -0.002       0.008
==============================================================================
Omnibus:                     2850.817   Durbin-Watson:                   1.910
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          8503711.723
Skew:                          16.866   Prob(JB):                         0.00
Kurtosis:                     387.631   Cond. No.                         7.87
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""